<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <H1>Enter The String </H1>
    <form action="home" method="get">
        <textarea name="punc text" style="width: 646px; height: 219px;"></textarea><br><br><br>
        <input type="checkbox" name="remove punc">Remove Puncuations</input><br><br><br>
        <input type="radio" name="radio">Capital</input><br><br><br>
        <input type="radio" name="radio1">NewLineRemover</input><br><br><br>
        <input type="radio" name="radio2">spaceRemover</input><br><br><br>
        <button type="submit" name="chebox">Analyez</button>
    </form>
</body>
</html>